/* You can add global styles to this file, and also import other style files */
body {
  background: #f4f4f4 !important;
}
.bg-tm {
  background: #0d3f81;
}
.bg-white {
  background: #fff;
}
.fixedSpace {
  margin-top: 75px;
}
ul,
li {
  list-style-type: none;
  position: relative;
}
.content-nav input:checked ~ ul.submenu {
  max-height: 550px;
  transition: max-height 0.5s ease-in;
}

ul.submenu {
  max-height: 0;
  padding-top: 0 !important;
  padding-bottom: 2px !important;
  overflow: hidden;
  list-style-type: none;
  transition: max-height 0.5s ease-out;
  position: relative;
  min-width: 100%;
}

.content-nav .checkNav {
  display: none;
}

.star {
  color: #ffbb00;
}

.c-blue {
  font-weight: 600;
  color: #0679b3;
}
.c-price {
  color: #e16800;
}

.hotel-image {
  background-size: cover;
  background-position: 50%;
}
.priceXnight {
  text-align: center;
}
.price {
  text-align: center;
}
.amenity {
  font-size: 22px;
  margin-right: 4px;
}
.boxShadow {
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.12);
}
.arrow {
  float: right;
  font-size: 27px;
}
@media only screen and (max-width: 768px) {
  .hotel-image {
    height: 260px;
  }
}
.contentFilter:after {
  content: "Filtros";
}


.dropdown li input:not(:checked) ~ label i.i-arrow_drop_up{
  display: none;
}
.dropdown li input:checked ~ label i.i-arrow_drop_down{
  display: none;
}
.contentFilter i {
  position: relative;
  left: 69px;
  font-size: 19px;
  top: 4px;
  color: #0679b3;
}
/* .content-nav > label {
  pointer-events: none;
} */
@media (min-width: 992px) {
  .content-nav  label .contentFilter i {
    display: none !important;
  }
}
@media (max-width: 992px) {
  /* .content-nav > label {
    pointer-events: inherit;
} */
  .content-nav input:not(:checked) ~ label i.i-arrow_drop_up {
    display: none;
  }
  .content-nav input:checked ~ label i.i-arrow_drop_down {
    display: none;
  }
  .contentFilter {
    text-align: center;
  }
  .contentFilter:after {
    content: "Filtrar";
  }
}
